{{!

    Renders:
      Sidebar Tagged Title
      Sidebar Taggled Links

    Microdata:
      Site Navigation Element
      Site Navigation Element URL
      Site Navigation Element Name

}}

<div class="sidebar-item sidebar-tagged">
  
  <h5 class="sidebar-title">Tags</h5>

  <div class="nav" role="navigation">
      
    <div itemscope itemtype="http://schema.org/SiteNavigationElement" class="nav-item">
      <a itemprop="url" href="{{@blog.url}}/tag/javascript/" title="JavaScript"><span itemprop="name">JavaScript</span></a>
    </div>

    <div itemscope itemtype="http://schema.org/SiteNavigationElement" class="nav-item">
      <a itemprop="url" href="{{@blog.url}}/tag/ecmascript2015/" title="ECMAScript2015"><span itemprop="name">ES6/ECMAScript2015</span></a>
    </div>

    <div itemscope itemtype="http://schema.org/SiteNavigationElement" class="nav-item">
      <a itemprop="url" href="{{@blog.url}}/tag/typescript/" title="TypeScriptPhoto"><span itemprop="name">TypeScript</span></a>
    </div>

    <div itemscope itemtype="http://schema.org/SiteNavigationElement" class="nav-item">
      <a itemprop="url" href="{{@blog.url}}/tag/angular/" title="Angular"><span itemprop="name">Angular</span></a>
    </div>
    
    <div itemscope itemtype="http://schema.org/SiteNavigationElement" class="nav-item">
      <a itemprop="url" href="{{@blog.url}}/tag/discoveries/" title="Discoveries"><span itemprop="name">Discoveries</span></a>
    </div>
    
    <div itemscope itemtype="http://schema.org/SiteNavigationElement" class="nav-item">
      <a itemprop="url" href="{{@blog.url}}/tag/book-reviews/" title="Book reviews"><span itemprop="name">Book reviews</span></a>
    </div>

  </div>

</div>
